*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body, html {
  background-color: #DDDDDD;
  height: 100%;

}

body{
  display: flex;
  flex-direction: column;

}

.topnav {

  display: flex;
  font-family: monospace;
  background-color: rgb(34, 34, 34);
  overflow: hidden;
}

.topnav li{
  padding: 2em 1em;
  list-style: none;
}


.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}




.main-text{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}

.avatarpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative 


}

#footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  text-align: center;

}
