*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body, html {
  background-color: #f5f5f5;
  height: 100%;

}

body{
  display: flex;
  flex-direction: column;

}

.topnav {

  display: flex;
  font-family: monospace;
  background-color: rgb(34, 34, 34);
  overflow: hidden;
}

.topnav li{
  padding: 2em 1em;
  list-style: none;
}


.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}




.main-text{
  
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  
}

.avatarpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative


}



#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}




.column {
  font-family: monospace;
  font-size: 25px;
  float: left;
  width: 33.33%;
  padding: 10px;
}

.button-light-on{
  background-color: rgb(54, 54, 54);
  color: white;
}

#dripimg{
  filter: drop-shadow(15px 10px 8px #1b1b1b);
  margin-top: 57px;
  border: 1em;
  border-radius: 15px;
  border: 5px solid;
}
#dripimg2{
  filter: drop-shadow(15px 10px 8px #1b1b1b);
  margin-top: 20px;
  border: 1em;
  border-radius: 15px;
  border: 5px solid;
}

#dripimg3{
  filter: drop-shadow(15px 10px 8px #1b1b1b);
  margin-top: 163px;
  border: 1em;
  border-radius: 15px;
  border: 5px solid;
  width: 600px;
  height: 300px;
}


.converterButton{
  margin-top: 15px;
  margin-left: 5px;
  width: 100px;
  height: 50px;
  background-color: rgb(153, 141, 158);
      color: rgb(41, 29, 85);
      border: 2px solid #6e1dca;
    }

    ::placeholder {
      color: rgb(0, 0, 0);
      font-size: 1.2em;
    }

    #converttext{
      margin-top: 20px;
    }

.calculator__keys { 
 display: grid; 
 /* other necessary CSS */ 
 }
 

